

.comment-form {
    background: #272727;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.comment-form h2 {
    margin: 0px;
}

.comment-form input,
.comment-form textarea,
.comment-form button {
    margin-top: 1rem;
    background-color: #2c2c2c;
    border: 1px solid #ffffff36;
    color: #fff;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.comment-form input {
    width: 400px;
}

.comment-form textarea {
    width: 100%;
}

.comment-form button {
    cursor: pointer;
    background-color: #383838;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.comment-form button:hover {
    background-color: #121212;
}